/* Start Variables */
:root {
    --main-color:#B7CEEE;
    --secondary-color:#B6CDEE;
    --section-background:#F0F6FA; 
    --secondary-section-background:#6B98E7;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Space Mono', monospace;
}
.container {
    padding-left:15px ;
    padding-right:15px ;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 922px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    } 
}
/* end Global Rules */
/* Start Components */
.bckg {
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    background-image: url(../IMG/sections-backg.png);
    background-size: 100%;
}
@media (max-width: 768px) {
    .bckg {
        height: 100%;
        font-size: 40px;
    }
}
/* End Components */
/* Start Header */
.Header {
    height: 60px;
    background-color: var(--secondary-section-background);
    box-shadow: 0px 1px 3px 0 #00000030;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.Header .container {
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 33% 1fr;
}
@media (max-width: 768px) {
    .Header .container {
        padding: 13px;
    }
}
.Header .container .logo {
    width: 70px;
}
.Header .container .logo img {
    width: 100%;
}
.Header .container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 922px) {
    .Header .container ul {
        justify-content: flex-end;
    }
}
@media (max-width: 922px) {
    .Header .container ul li:not( :last-of-type) {
        display: none;
    }
}
.Header .container ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.Header .container ul a:hover {
    color: var(--main-color);
}
/* End Header */
/* Start Landing Section */
.Landing {
    width: 100%;
    height: 620px;
    /* background-image: url(../IMG/bckg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #303030;
    position: relative;
}
@media (max-width: 922px) {
    .Landing {
        height: 540px;
        background-image: url(../IMG/bckg.jpg);
        background-size: cover;
    }
}
.Landing::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 2px var(--main-color) solid;
    border-right: 2px var(--main-color) solid;
    bottom: 4px;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
    display: none;
}
.Landing:hover.Landing::after {
    display: block;
    animation-name:  moving;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moving {
    10% {
        bottom: 5px;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 20px;
    }
}
.Landing .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media (max-width: 922px) {
    .Landing .container {
        justify-content: center;
    }
}
.Landing .container .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px;
}
@media (max-width: 922px) {
    .Landing .container .intro-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.Landing .container .intro-text h1 {
    font-size: 50px;
    margin: 0;
}
@media (max-width: 922px) {
    .Landing .container .intro-text h1{
        font-size: 36px;
    }
}
.Landing .container .intro-text h1 span {
    color: var(--main-color);
    font-size: 50px;
    animation-name: animation-span;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    margin-left: 0px;
}
@keyframes animation-span {

    to{
        margin-left: 10px;
    }
}
.Landing .container .intro-text span{
    font-size: 10px;
    margin-left: 10px;
}
/* End Landing Section */
/* Start About */
.About {
    margin-top: 50px;
    padding: 10px;
}
.About .container {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    padding: 10px;
    background-color: #F0F6FA;
    position: relative;
}
@media (max-width: 768px) {
    .About .container {
        height: 800px;
        grid-template-rows: 20% 1fr;
        grid-template-columns: 1fr;
    }
}
.About .container .text {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    padding: 20px;
    font-weight: 700;
}
.About .container .text .part {
    display: grid;
    grid-template-columns: 10% 1fr;
    column-gap: 20px;
}
.About .container .text .part i ,.About .container .section .text .part p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.About .container .text .part i {
    font-size: 23px;
    color: var(--secondary-section-background);
}
.About .container .text .part p {
    padding: 10px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End About */
/* Start Skills */
.Skills {
    padding: 10px;
}
@media (max-width: 768px) {
    .Skills {
        margin-top: 120px;
    }
}
.Skills .container {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    padding: 10px;
    background-color: #F0F6FA;
} 
@media (max-width: 768px) {
    .Skills .container {
        grid-template-rows: 35% 1fr;
        grid-template-columns: 1fr;
    }
}
.Skills .container .bckg {
    flex-direction: column;
}
.Skills .container .bckg a {
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    background-color: var(--secondary-section-background);
    padding: 10px;
    transition: 0.5s background-color;
    -webkit-transition: 0.5s background-color;
    -moz-transition: 0.5s background-color;
    -ms-transition: 0.5s background-color;
    -o-transition: 0.5s background-color;
    position: relative;
}
.Skills .container .bckg a:hover {
    box-shadow: 6px 6px 0px 0px black;
} 
.Skills .container .numbers {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    row-gap: 20px;
}
.Skills .container .numbers .section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    font-weight: 700;
}
.Skills .container .numbers .section span {
    width: 100%;
    height: 25px;
    background-color: #FFFFFF;
    position: relative;
    border: solid 2px var(--secondary-color);
}
.Skills .container .numbers .section span::after {
    position: absolute;
    height: 100%;
    background-color: var(--secondary-section-background);
    text-align: end;
    padding-right: 10px;
}
.Skills .container .numbers .section:first-of-type span::after {
    content: "";
    width: 0%;
    animation-name: moving1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 5s width;
    -webkit-transition: 5s width;
    -moz-transition: 5s width;
    -ms-transition: 5s width;
    -o-transition: 5s width;
}
@keyframes moving1 {
    30%{
        width: 30%;
    }
    60%{
        width: 60%;
    }
    90%{
        width: 90%;
    }
    100%{
        content: "90%";
        width: 90%;
    }
} 
.Skills .container .numbers .section:nth-of-type(2) span::after {
    content: "";
    width: 0%;
    animation-name: moving2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 5s width;
    -webkit-transition: 5s width;
    -moz-transition: 5s width;
    -ms-transition: 5s width;
    -o-transition: 5s width;
}
@keyframes moving2 {
    30%{
        width: 20%;
    }
    60%{
        width: 35%;
    }
    90%{
        width: 50%;
    }
    100%{
        content: "50%";
        width: 50%;
    }
} 
.Skills .container .numbers .section:nth-of-type(3) span::after {
    content: "";
    width: 0%;
    animation-name: moving3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 5s width;
    -webkit-transition: 5s width;
    -moz-transition: 5s width;
    -ms-transition: 5s width;
    -o-transition: 5s width;
}
@keyframes moving3 {
    30%{
        width: 10%;
    }
    60%{
        width: 20%;
    }
    90%{
        width: 30%;
    }
    100%{
        content: "30%";
        width: 30%;
    }
} 
.Skills .container .numbers .section:last-of-type span::after {
    content: "";
    width: 0%;
    animation-name: moving4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 5s width;
    -webkit-transition: 5s width;
    -moz-transition: 5s width;
    -ms-transition: 5s width;
    -o-transition: 5s width;
}
@keyframes moving4 {
    30%{
        width: 20%;
    }
    60%{
        width: 35%;
    }
    90%{
        width: 50%;
    }
    100%{
        content: "50%";
        width: 50%;
    }
} 
/* End Skills */
/* Start Resume */
.Resume {
    height: 400px;
    margin-top: 50px;
    background-image: url(../IMG/resume-backg.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.Resume::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000001c;
}
.Resume .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Resume .container a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700; 
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: var(--secondary-section-background);
    padding: 10px 40px;
    transition: 0.5s background-color;
    -webkit-transition: 0.5s background-color;
    -moz-transition: 0.5s background-color;
    -ms-transition: 0.5s background-color;
    -o-transition: 0.5s background-color;
    position: relative;
}
.Resume .container a:hover {
    box-shadow: 6px 6px 0px 0px black;
} 
/* End Resume */
/* Start Portfolio */
.Portfolio {
    height: 614px;
    background-color: #FFFFFF;
}
.Portfolio .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}
.Portfolio .container h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-color);
    padding: 20px;
}
@media (max-width: 768px) {
    .Portfolio .container h2 {
        font-size: 40px;
    }
}
.Portfolio .container .section {
    height: 360px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}
@media (max-width: 390px) {
    .Portfolio .container .section {
        height: 100%;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
.Portfolio .container .section span:first-of-type {
    background-image: url(../IMG/Template\ 1.png);
}
.Portfolio .container .section span:last-of-type {
    background-image: url(../IMG/Template\ 2.png);
}
.Portfolio .container .section span {
    background-size: cover;
    background-position: center top;
    border: 3px solid var(--secondary-color);
    filter: blur(0.8px);
    -webkit-filter: blur(0.8px);
    transition: 0.5s border;
    -webkit-transition: 0.5s border;
    -moz-transition: 0.5s border;
    -ms-transition: 0.5s border;
    -o-transition: 0.5s border;
}
.Portfolio .container .section span:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    border: 3px solid var(--secondary-section-background);
    cursor: pointer;
}
.Portfolio .container .section span:nth-of-type(2) {
    position: relative;
}
.Portfolio .container .section span i {
    position: absolute;
    font-size: 20px;
    color: var(--secondary-color);
    right: -40px;
    bottom: 10px;
    animation-name:  anm;
    animation-duration:1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s right;
    -webkit-transition: 1s right;
    -moz-transition: 1s right;
    -ms-transition: 1s right;
    -o-transition: 1s right;
}
@keyframes anm {
    100% {
        right: 5px;
        bottom: 27px;
    }
}
.Portfolio .container .section:hover i {
    display: none;
}
/* End Portfolio */
/* Start Contact */
.Contact {
    height: 400px;
    padding: 10px;
    background-color: var(--secondary-section-background);
    background-image: url(../IMG/contact-backg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
@media (max-width: 768px) {
    .Contact {
        background-image: url(../IMG/contact-mobile-backg.png);
    }
}
.Contact .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.Contact .container img {
    width: 80px;
}
.Contact .container .icons {
    width: 310px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    margin-top: 74px;
    position: relative;
}
@media (max-width: 768px) {
    .Contact .container .icons {
        width: 260px;
    }
}
.Contact .container .icons::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    top: -20px;
}
.Contact .container .icons a {
    width: 39px;
    height: 39px;
    text-decoration: none;
    transition: 1s border;
    -webkit-transition: 0.5s border;
    -moz-transition: 0.5s border;
    -ms-transition: 0.5s border;
    -o-transition: 0.5s border;
    transition-delay: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact .container .icons a:hover {
   border: 1px solid #FFFFFF; 
}
.Contact .container .icons i {
    width: 39px;  
    height: 39px;
    font-size: 17px;
    color: #FFFFFF;
    position: relative;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact .up-btn {
    height: 41px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 10px;
    transition: 0.3s padding;
    -webkit-transition: 0.3s padding;
    -moz-transition: 0.3s padding;
    -ms-transition: 0.3s padding;
    -o-transition: 0.3s padding;
}
.Contact .up-btn:hover {
    animation-name:  top;
    animation-duration:0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes top {
    100% {
        padding: 8px 10px 12px; 
    }
}
.Contact .up-btn:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}
@media (max-width: 768px) {
    .Contact .up-btn {
       display: none;
    }
}
.Contact .up-btn:hover::after {
    display: block;
}
.Contact .up-btn::after {
    content: "Scroll To Top";
    position: absolute;
    right: 50px;
    bottom: 3px;
    width: 101px;
    font-size: 12px;
    padding: 10px;
    color: var(#FFFFFF);
    font-weight: 800;
    display: none;
}
.Contact .up-btn i {
    color: black;
    font-size: 20px;
}
/* End Contact */
/* Start Footer  */
.Footer {
    height: 60px;
    background-color: var(--section-background);
}
.Footer .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 15px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .Footer .container {
        font-size: 12px;
    }
}
.Footer .container span {
    color: var(--secondary-section-background);
    padding: 0 10px 0;
}
/* End Footer  */